* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 0px 5px;
  font-size: 16px;
  cursor: pointer;
}
.btn2 {
  background-color: white;
  border: none;
  color: darkblue;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

header {
  background-image: url("/src/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 !important;
  padding: 0 !important;
  background: rgba(10, 10, 10, 0.3);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: 5 px;
  background-color: whitesmoke;
  text-decoration: none;
}

.cart ion-icon {
  vertical-align: bottom;
  padding-right: 5px;
  font-size: 20px;
  color: blue;
}

.cart a {
  background-color: darkblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.container,
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

.add-cart {
  position: absolute;
  bottom: 0%;
  top: 60%;
  width: 100%;
  height: 20%;
  background-color: #555;
  color: blue;
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  opacity: 1;
  top: 50%;
}

/*--------------- CART PAGE ---------------*/

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.products-container ion-icon {
  font-size: 30px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.products-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}

.products-title {
  margin-left: 10px;
  width: 25%;
}

.name {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.price {
  margin-left: 60px;
  width: 45%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 20%;
  display: flex;
  align-items: center;
}

.total {
  width: 20%;
  display: flex;
  align-items: center;
}

.product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid lightgrey;
  align-items: center;
  padding: 10px;
}

.product ion-icon {
  font-size: 30px;
  cursor: pointer;
}

.products img {
  width: 10%;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 86%;
  padding: 10px 0;
}
.basketTitle {
  width: 40%;
}

.basketTotal {
  justify-content: left;
  margin-left: 20px;
  width: 10%;
}
